@using KisiselWebProjesi.Models.Siniflar
@model List<KisiselWebProjesi.Models.AnaSayfa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mb-4">Ana Sayfa</h2>
<table class="table table-bordered mt-1">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.isim</td>
            <td><a href="/Admin/AnaSayfaGetir/@x.Id" class="btn btn-primary">Güncelle</a></td>
        </tr>
    }
    
</table>