@using KisiselWebProjesi.Models.Siniflar
@model List<KisiselWebProjesi.Models.ikonlar>


<div class="social">
    @foreach (var x in Model)
    {
        <a href="@x.link"><i class="@x.ikon"></i></a>
    }

    </a>
</div>
